<li class='c-nav__item'>
  <a href='https://www.linkedin.com/in/eveline-vondeling-6ba438140' class='c-nav__link' target='_blank'>LinkedIn</a>
</li>
<li class='c-nav__item'>
  <a href='https://www.instagram.com/eveline_vondeling/' class='c-nav__link' target='_blank'>Instagram</a>
</li>
<li class='c-nav__item'>
  <a href='https://www.facebook.com/Forever-Changes-606041803239334/' class='c-nav__link' target='_blank'>Facebook</a>
</li>
<li class='c-nav__item' style='text-transform: lowercase !important;'>
  evelinevondeling@gmail.com
</li>