<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='c-footer__headline'>Navigation</p>

      <ul class='c-footer-list o-plain-list'>
        {% include navigation.html %}
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
      <p class='c-footer__headline'>Contact</p>

      <ul class='c-footer-list o-plain-list'>
        {% include contact.html %}
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--full'>
      <div class='c-footer__bottom'>
        <div class='o-grid'>

          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            <div class='u-font-size-tiny c-footer__copyright'>
              {{ site.time | date: '%Y' }} {{ site.title }} &copy;
            </div>
          </div>

          <!-- <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
            {% include social-icons.html %}
          </div> -->

        </div>
      </div>
    </div>

  </div>
</footer>